body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 33.33%; /* 使图像在一行中均匀分布 */
    height: auto;
}

button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
